# gradle
.gradle/
build/
out/
classes/

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/
logs/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# kotlin
kls_database.db
.kotlin/

# deploy
.deploy-token
